

body{
	background-color: papayawhip;
	

}

img{
	
width: 200px;
border: 15px medium #DED97C;
	border-radius: 50%;
}
h1 {
	color:burlywood;
	text-decoration: underline;
}



ul{
	list-style-type: none;
	background-color:#F8A9A4;
	width: 200px;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	text-decoration: none;
	color: #E8BCE1;
	padding: 8px 16px;
}

li a:hover{
	background-color:#F9E3E3;
	color: aliceblue;
}
